$main-border-radius: 4px;
$container-width: 1040px;
$container-mobile-width: 375px;
$reduced-container-width: 688px;
$navbar-width: 1360px;
$min-page-height: 77.7vh;

$media-sm-max: 767px;
$media-md-min: 768px;
$media-md-max: 991px;
$media-lg-min: 992px;
$media-lg-max: 1381px;
$media-xl-min: 1382px;
